@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PixelFont';
  src: url('./assets/fonts/DePixelHalbfett.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
  overflow-x: hidden;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px) scale(1);
  }
  50% {
    transform: translateY(-12px) scale(1.02);
  }
}
@keyframes shadowFloat {
  0%, 100% {
    transform: scaleX(1);
    opacity: 0.3;
  }
  50% {
    transform: scaleX(0.8);
    opacity: 0.15;
  }
}